
.navbar{
    margin-top: 30px;
}


.badge span{
    background-color: #fffbec;
    width: 60px;
    height: 15px;
    border-radius: 5px;
    display: flex;
    color: #000000;
    justify-content: right;
    text-align-last: right;
}

.kartu{
    margin-top: 30px;
}